<div class="container">    
    <div class="gallery">
        {{#each data.srcList}}
            <a href="{{this}}" target="_blank">
                <img src="{{this}}" alt="{{data.productName}}">
            </a>
        {{/each}}
    </div>
    <div>
        <a href="{{data.mainImageSrc}}" target="_blank">
            <img src="{{data.mainImageSrc}}" alt="{{data.productName}}">
        </a>
    </div>
    <div class="text-block">        
        <h1>{{data.productName}}</h1>
        <p><b>Цена:</b> {{data.currentPrice}}</p>
        {{#if data.previousPrice}}
            <p><b>Старая цена:</b> {{data.previousPrice}}</p>
        {{/if}}
    </div>
</div>